<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name ="url" value = "https://www.pepperfry.com/"></parameter>
<parameter name ="searchData" value = "furniture"></parameter>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.pepperfry.qa.test.SearchFieldTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
